.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: calc((100% - 30px) / 2);

    @media screen and(min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }
    height: 92px;
  }
}

.clients__link {
  display: flex;
  height: 100%;
  border: 1px solid var(--soc-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition-animation);
  &:hover {
    border-color: var(--accent-color);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--soc-color);

  transition: fill var(--transition-animation);
}
