.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.filter-button {
  color: var(--primary-text-color);
  background-color: var(--extra-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;

  transition: color var(--transition-animation), background var(--transition-animation);
}

.filters-list .filter-button:hover,
.filters-list .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
