.production {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and(max-width: 1199px) {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__box {
    position: relative;
  }
  &__item {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    bottom: 0;
    right: 0;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-white-color);
    text-transform: uppercase;
  }
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
