:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --detail-color: #2f303a;
  --extra-color: #f5f4fa;
  --extra-two-color: #eeeeee;
  --soc-color: #afb1b8;
  --secondary-color: #188ce8;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  line-height: initial;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.adres {
  font-style: normal;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}
